/* Navbar */
.navbar {
  background: linear-gradient(
    90deg,
    rgb(114 41 221 / 58%) 0%,
    rgb(80 103 224 / 47%) 50%,
    rgb(80 103 224 / 48%) 81.11%,
    rgb(34 184 229 / 66%) 100%
  );
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-size: 1.5em;
}
.nav-links {
  display: flex;
  align-items: center;
}
.active-nav {
  font-weight: bold;
  color: #1a73e8;
  border-bottom: 2px solid #ffffff;
}
.navbar .nav-links a,
.nav-links span {
  padding: 10px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  margin-left: 20px;
}
.nav-links .show-profile {
  list-style: none;
  margin: 0 0 0 15px;
  cursor: pointer;
}
.profile-container {
  position: absolute;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  padding: 56px;
  border-radius: 10px;
  top: 70px;
  right: 6px;
  max-width: 290px !important;
  box-shadow: 0 4px 15px #00000029 !important;
  border: 1px solid #d1d1d1 !important;
  border-radius: 8px !important;
  overflow: inherit !important;
}

.profile-info {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  width: 100%;
  border-top: 1px solid rgb(205, 207, 211);
  flex-wrap: wrap;
  padding-top: 10px;
}

.detail p span:nth-child(2) {
  font-weight: bolder;
}

.detail p {
  display: flex;
  margin: 8px;
}
.logout-btn {
  background-color: #7972b3;
  color: rgb(255, 255, 255);
  font-weight: 600;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
  font-size: medium;
  transition: background-color 0.3s ease;
}
/* Modal */
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.modal-container h1 {
  margin: 0;
}
.modal-container .card-body {
  color: darkslategray;
}

.modal-container input {
  width: 100%;
  margin: 6px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.modal-container .modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: end;
}

.modal-container .modal-buttons button {
  min-width: 60px;
  margin: 10px 0 0 10px;
}
.red-bg {
  background-color: #eb2a2a;
}
.red-bg:hover {
  background-color: hsl(0, 66%, 40%);
}

/*Message Box*/
.error-message {
  color: #dc2626;
  text-align: center;
}

/* Module Card */
.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  justify-content: flex-start;
}

.card-container {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  min-width: 200px;
  min-height: fit-content;
  max-width: 480px;
  box-shadow: 0 4px 15px #00000029;
  border: 1px solid #d1d1d1;
  overflow: inherit;
  flex: 1 1 350px;
}

.card-header {
  margin: 0;
  border-radius: 8px 8px 0 0 !important;
  border-bottom: 1px solid #e1e1e3;

  display: flex;
  padding: 20px;
  align-items: center;
  text-align: center;
}

.card-body {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px 30px;
  border-radius: 8px !important;
  max-height: 23 rem;
  overflow-y: auto;
}
.card-body .image-container {
  justify-content: center;
  display: flex;
}
.card-body .image-container img {
  width: 50%;
}
.card-body .button-container {
  padding: 10px;
  display: flex;
  justify-content: center;
}
/* Universal */
/* button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: medium;
  transition: background-color 0.3s ease;
} */
/* Data Table */
.action-div {
  margin: 15px;

  display: flex;
}

.action-div .upload-file {
  display: inline-flex;
  text-align: start;
  flex-direction: column;
}
.action-div .upload-file label {
  margin-left: 5px;
  margin-bottom: 5px;
}
.action-div input[type="file"] {
  outline: 2px solid #007bff;
  font-weight: 550;

  border-radius: 15px;
}
.action-div input[type="file"]::file-selector-button {
  padding: 10px;
  color: white;
  font-weight: bold;
  border: none;
  background-color: #007bff;
}
.action-div button {
  margin: 0 0 0 10px;
}
/* Scroll Bar */
body ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

body ::-webkit-scrollbar-thumb {
  background-color: #a3a3a7;

  border-radius: 5px;
}

body ::-webkit-scrollbar-track {
  background: #f1f1f1;

  border-radius: 5px;
}

body ::-webkit-scrollbar-corner {
  background: #f1f1f1;
}
/* Tool tip */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip::after {
  content: attr(tooltip);
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 10;
}

.tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}
