.instructions-div h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #6f2f72;
  display: flex;
  justify-content: center;
}

.instructions li {
  list-style: disc;
  text-align: justify;
  font-size: large;
  margin: 10px 0;
}

.start-test-div {
  display: flex;
  justify-content: center;
}
/* Assigned Quiz */
.assigned-quiz-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.disabled-button {
  background-color: #8b9197;
  color: black;
}
.disabled-button:hover {
  background-color: #8b9197;
  cursor: not-allowed;
}
.button {
  background-color: #6f2f72 !important;
}

.no-quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;
  color: #333;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.no-quiz-container h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #007bff;
}

.no-quiz-container p {
  font-size: 1.2rem;
  color: #555;
  margin: 0;
}
