.login-container {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin: auto;
  display: grid;
  align-items: center;
  justify-content: center;
  min-width: 350px;
  max-width: 600px !important;
  box-shadow: 0 4px 15px #00000029 !important;
  border: 1px solid #d1d1d1 !important;
  border-radius: 8px !important;
  overflow: inherit !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-container .login-header {
  background-color: #007bff;
  color: white;
  margin: 0;
  border-radius: 8px 8px 0 0 !important;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.login-container .login-form {
  padding: 60px;
  padding-top: 0px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  text-align: start;
  margin-bottom: 5px;
}

.input-group input {
  width: 93%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.login-form button {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  margin-top: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* Tool tip */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip::after {
  content: attr(tooltip);
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 10;
}

.tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}
