.header {
  margin: 0;
  padding: 15px 20px 0 20px;
  border-bottom: 1px solid #e1e1e3;
}
.headerTop {
  display: flex;
  justify-content: space-between;
}
.headerButtons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.headerTop h1 {
  margin: 0;
}
.tabs {
  align-items: center;
  display: flex;
  padding: 0 24px;
  position: relative;
}
.tabs span {
  align-items: center;
  color: #080c2ba6;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  justify-content: center;
  line-height: 20px;
  padding: 12px 16px;
  position: relative;
  white-space: nowrap;
}
.activeTab {
  color: #504ee4 !important;
  font-weight: 600;
}
.activeTab::before {
  border-bottom: 2px solid #504ee4;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
}
.testDetailsContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  width: 100%;
}
.instructionsContainer {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 2px #080c2b29, 0px 1px 4px #080c2b1f;
  display: flex;
  column-gap: 8px;
  display: flex;
  max-width: 500px;
  width: 100%;
  flex-direction: column;
}
.addInstructionBtn{
  background: white;
  color: black;
  border: 1px solid #ccc;
  margin-top: 20px;
  width: 100%;
}
.addInstructionBtn:hover{
  background-color: #e4e4e4;
}
.detailCardHeader h1 {
  padding: 15px;
  color: #080c2bd9;
  margin: 0;
}
.detailCard {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 2px #080c2b29, 0px 1px 4px #080c2b1f;
  display: flex;
  column-gap: 8px;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.detailCardHeader {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #e1e1e3;
  flex-direction: row;
}
.detailCardBody {
  padding: 20px;
  color: #080c2ba6;
}
.detailsColumn {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 50px;
}
.detailsColumn div {
  width: 200px;
}
/* Scrim Overlay */
.scrim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #080c2b99;
  z-index: 15;
}
/* Create Test Panel Container */
.createTestContainer {
  display: flex;
  justify-content: end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}
/* Panel Header */
.createTestHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 1px solid #e1e1e3;
  padding: 16px;
  margin: 0;
}
/* Form Container */
.createTestForm {
  margin: auto;
  margin-top: 20px;
  max-width: 600px;
  padding: 0 20px 10px 20px;
}
/* Panel Style */
.createTestPanel {
  position: relative;
  background-color: #ffffff;
  min-width: 30vw;
  height: 100vh;
  border-radius: 6px 0px 0px 6px;
  overflow-y: auto;
}
/* Selected Groups Display */
.selectedGroups {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}
.selectedGroup {
  background: linear-gradient(86.73deg, #3696e5 0.38%, #7424dc 98.88%);
  color: white;
  padding: 0 6px;
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
}
.removeGroupButton {
  background: none;
  color: white;
  border: none;
  padding: 5px 5px;
  font-weight: bold;
  margin: 0 0 0 5px;
  cursor: pointer;
}
/* Group Dropdown */
.groupSelector {
  position: relative;
}
.groupDropdown {
  position: absolute;
  top: 100%;
  left: 0;
  max-height: 200px;
  overflow-y: auto;
  max-width: 600px;
  width: 100%;
  border: 1px solid #ccc;
  background-color: white;
  z-index: 10;
}
.groupItem {
  padding: 8px;
  cursor: pointer;
}
.groupItem:hover {
  background-color: #f0f0f0;
}
/* File Input Style */
.createTestForm input[type="file"]::file-selector-button {
  padding: 10px;
  color: white;
  font-weight: bold;
  border: none;
  background-color: #007bff;
}
.createTestForm input[type="file"] {
  padding: 0 !important;
  width: 100% !important;
}
/* Footer Button Layout */
.buttonContainer {
  display: grid;
  margin-top: 10px;
  justify-content: end;
  gap: 20px;
  grid-auto-flow: column;
  border-top: 1px solid #e1e1e3;
  padding: 10px;
}
.cancelButton {
  background: #f5f5f7 !important;
  border: 1px solid #e1e1e3;
  color: #080c2bd9;
}
.hitAiButton {
  position: relative;
  top: 18px;
  cursor: pointer;
  border: 1px solid #89a8c3;
  padding: 2px;
  right: -510px;
  border-radius: 2px;
}
