.loginContainer {
  width: 600px;
  margin-left: 15%;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  gap: 40px;
}
.loginHeader {
  margin: 0;
  border-radius: 8px 8px 0 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.loginContainer .loginForm {
  padding: 60px;
  padding-top: 0px;
  width: 100%;
  box-sizing: border-box;
}
.inputContainer {
  margin: 20px 0px;
}
.inputContainer input {
  width: 100%;
  padding: 15px;
}
.loginButton {
  margin-top: 20px;
  width: 100%;
  background: linear-gradient(112deg, #0072d6 11.37%, #7424dc 88.63%);
}
.sideImg {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 30px;
  width: 20%;
  height: 100%;
  background-image: url("../../assets/login-new-side-bg.png");
  background-size: cover;
  color: #fff;
  text-align: center;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginPage {
  display: flex;
  flex-direction: row;
}
