/* Assigned Quiz */
.assignedQuizContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.noQuizContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;
  color: #333;
  font-family: Arial, sans-serif;
  padding: 20px;
}
.noQuizContainer h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #007bff;
}
.noQuizContainer p {
  font-size: 1.2rem;
  color: #555;
  margin: 0;
}
/* Module Card */
.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  justify-content: flex-start;
}
.cardContainer {
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  min-width: 200px;
  min-height: 380px;
  max-width: 480px;
  box-shadow: 0 4px 15px #00000029;
  border: 1px solid #d1d1d1;
  overflow: inherit;
  flex: 1 1 350px;
}
.cardHeader {
  margin: 0;
  padding: 30px;
  border-bottom: 1px solid #e1e1e3;
}
.cardBody {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px 30px;
  border-radius: 8px !important;
  max-height: 23 rem;
  overflow-y: auto;
}
.content {
  min-height: 100px;
}
.imageContainer {
  justify-content: center;
  display: flex;
}
.imageContainer img {
  width: 50%;
}
.buttonContainer {
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.createCourse {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  font-size: 1.5em;
  font-weight: bold;
  border: 1px solid #d1d1d1;
}
