/* Create Course Button Bar */
.createCourse {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  font-size: 1.5em;
  font-weight: bold;
  border: 1px solid #d1d1d1;
}
.createCourse button {
  background: linear-gradient(86.73deg, #3696e5 0.38%, #7424dc 98.88%);
  color: #ffffff;
  margin: 0;
  font-weight: bold;
  cursor: pointer;
  padding: 8px 14px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.createCourse button:hover {
  background-color: #e6e2e2;
}
/* Cards Layout */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow: auto;
  padding: 30px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 1px solid #ebecee;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 #0000000f;
  cursor: pointer;
  width: 500px;
}
.card h1 {
  margin: 0;
  padding: 15px 20px;
  border-bottom: 1px solid #e1e1e3;
}
.cardsBody {
  padding: 20px;
  color: rgb(66, 66, 66);
}
.content {
  min-height: 100px;
}
.cardsBody button {
  background: linear-gradient(86.73deg, #3696e5 0.38%, #7424dc 98.88%);
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  padding: 8px 14px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.scrim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #080c2b99;
  z-index: 15;
}
.questionModalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 1px solid #e1e1e3;
  margin: 0;
  padding: 16px;
}
.questionModal {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 16;
}
.questionModalBody {
  padding: 20px;
  max-height: 70%;
  background-color: #ffffff;
  min-height: 210px;
  overflow: auto;
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  gap: 10px;
  position: sticky;
}
.footer{
  padding: 20px;
  background-color: #ffffff;
  position: sticky;
  bottom: 0;
  border-top: 1px solid #e1e1e3;
}
.questionContainer {
  margin-top: 20px;
}
.questionHelpers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
}
.questionOptions {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.questionAnswers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
