/* Create Course Button Bar */
.createCourse {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  font-size: 1.5em;
  font-weight: bold;
  border: 1px solid #d1d1d1;
}
.createCourse button {
  background: linear-gradient(86.73deg, #3696e5 0.38%, #7424dc 98.88%);
  color: #ffffff;
  margin: 0;
  font-weight: bold;
  cursor: pointer;
  padding: 8px 14px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.createCourse button:hover {
  background-color: #e6e2e2;
}
/* Cards Layout */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow: auto;
  padding: 30px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 1px solid #ebecee;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 #0000000f;
  cursor: pointer;
  width: 500px;
}
.card h1 {
  margin: 0;
  padding: 15px 20px;
  border-bottom: 1px solid #e1e1e3;
}
.cardsBody {
  padding: 20px;
  color: rgb(66, 66, 66);
}
.content {
  min-height: 100px;
}
.cardsBody button {
  background: linear-gradient(86.73deg, #3696e5 0.38%, #7424dc 98.88%);
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  padding: 8px 14px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}
