.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
  }
  
  .card-container {
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    min-width: 300px;
    min-height: 480px;
    max-width: 480px;
    box-shadow: 0 4px 15px #00000029;
    border: 1px solid #d1d1d1;
    overflow: inherit;
    flex: 1 1 350px;
  }
  
.card-header{
    background-color: #007bff;
    color: white;
    margin: 0;
    border-radius: 8px 8px 0 0 !important;
    min-height: 100px;
    display: flex;
    justify-content: center; 
    align-items: center;     
    text-align: center; 
}
.card-body{
    background-color: rgb(255, 255, 255);
  
    border-radius: 10px;
  
    padding: 20px 30px;
        border-radius: 8px !important;

    max-height: 22rem;
    overflow-y: auto;
 
}